<!-- Container for Header of the food Page  -->
<div class="inner-container md-whiteframe-4dp">

	<!-- Food page title -->
	<h1 class="md-title">Food</h1>

	<!-- Food Question -->
	<p>We take too serious to choose our restaurant, everyday. What kind of food do you like?</p>

	<!-- Group of radio buttons to select the food option  -->
	<md-radio-group ng-model="food.foodChoice" layout="row" layout-align="space-around center">

		<!-- Radio button that will be repeated for each season -->
		<md-radio-button 
			ng-value="option.value" 
			class="md-primary"
			ng-repeat="option in food.foodOptions">

			<!-- Group for the image and name of the food for alignment -->
			<div layout="column" layout-align="center center">
				
				<!-- Food image -->
				<img ng-src="img/{{option.img}}" alt="{{option.value}}" class="food-image md-whiteframe-4dp">

				<!-- Food option -->
				{{option.value}}

			</div>			

		</md-radio-button>

	</md-radio-group>

</div>

<!-- Button to navigate back to the Tv Show page -->
<md-button 
	class="md-raised md-primary"
	ui-sref="tv-show">

	Back to Tv Show

</md-button>


<!-- Button to navigate to the review page -->
<md-button 
	class="md-raised md-primary"
	ui-sref="review">

	Next (Review)

</md-button>