<!-- Container for Header of the food Page  -->
<div class="inner-container md-whiteframe-4dp">

	<!-- Page Title -->
	<h1 class="md-title">Movie</h1>

	<!-- Page Description -->
	<p>Which of these is your favorite {{movie.franchise}} movie?</p>

	<!-- Group of radiobuttons -->
	<md-radio-group ng-model="movie.answer.movie"  layout="column" >

		<!-- Row of movies -->
		<div ng-repeat="films in movie.movies | chunkBy: movie.getChunk()" layout="row" layout-align="space-around center">

			<div class="movie-container" ng-repeat="film in films">
				
				<!-- Radio Button for choosig the favorite movie -->
				<md-radio-button					
					class="movie-radio-button"
					ng-value="film.Title"
					aria-label="{{film.Title}}">

					<!-- Group for the image and name of the food for alignment -->
					<div layout="column" layout-align="center center">

						<!-- Movie Image -->
						<!-- If an image is not available shows a default image -->
						<img class="movie-image md-whiteframe-4dp"
							ng-src="{{film.Poster != 'N/A' ? film.Poster : 'img/no-thumb.jpg'}}" 
							alt="{{film.Title}}">

						<!-- Name of the movie -->
						<h3>{{film.Title}}</h3>

					</div>

				</md-radio-button>

			</div>			

		</div>		

	</md-radio-group>

	<!-- Container for the buttons -->
	<div layout="row" layout-align="space-between center">

		<!-- Button to navigate back to the th about yourself page -->
		<md-button 
			class="md-raised md-primary"
			ui-sref="about-yourself">

			Back to about yourself

		</md-button>

		<!-- Button to navigate to the Tv Show page -->
		<md-button 
			class="md-raised md-primary"
			ui-sref="tv-show"
			ng-disabled="!movie.answer.movie">

			Next (Tv Show)

		</md-button>

	</div>

</div>