/**
 * Project: CI&T Hiring Challenge
 * Author: Shermam Xavier Miranda
 * email: shermam.miranda@hotmail.com
 */

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    background-color:#DDDDDD;
    height: auto;
}

.adjust-select{
    height: 54px;
}

#content{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.valid-message{
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    opacity: 1;
    margin-top: 0;
    padding-top: 5px;
    color: green;
}

.md-toolbar-tools{
    position: fixed;
}

.view{
    margin-top: 70px;
}


.image{
	height: 100%;
	max-width: 100%;
}

.movie-radio-button{
	margin: 5px;
}

.movie-tile-footer{
	background: rgb(63, 81, 181);
}

.inner-container{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-right: 25px;
}

@media (max-width: 600px){
    .inner-container{
        margin-left: -30px;
        margin-right: -30px;
    }

    .scroll-xs{
        overflow: scroll;
    }
}

.food-image{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.movie-image{
    height: 100px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.review-answer{
    margin-top: -20px;
}

.text-page{
    white-space: pre-wrap;
    padding: 40px;
    text-align: center;
}

.movie-container{
    background: rgba(63, 81, 181, 0.28);
    margin: 10px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.tvshow-img{
    height: 200px;
    margin: 15px;
}

.tvshow-description{
    padding: 10px;
}