/**
 * Project: CI&T Hiring Challenge
 * Author: Shermam Xavier Miranda
 * email: shermam.miranda@hotmail.com 
 * description: As table style following material design
 */
.table{    
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: table;
    border-color: grey;
}

.table th{
    font-size: 12px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.54);
    padding: 10px;
}

.table td{
    font-size: 13px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    padding: 3px;
    border-top: 1px solid #ddd;
}

.table tr:hover:not(thead){
    background-color: #EEEEEE;
}

.table tr{
    display: table-row;
    height: 40px;
}

.table thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}